<div class="welcome-page">
  <div class="welcome-page-header">
    <img class="welcome-page-logo" src="../../assets/images/logo.svg" />
  </div>
  <div class="welcome-page-content">
    <div class="welcome-page-info">
      <p class="welcome-page-upper-title">Success!</p>
      <p class="welcome-page-lower-title">Meowoof is installed</p>
      <p class="welcome-page-paragraph">Now select the pets you like most — or all of them!</p>
    </div>
    <div class="welcome-page-controls">
      <div class="welcome-page-toggles-container">
        <div class="welcome-page-toggle">
          <p class="welcome-page-toggle-title">I LOVE CATS</p>
          <app-toggle-button [size]="'big'"></app-toggle-button>
        </div>
        <div class="welcome-page-toggle">
          <p class="welcome-page-toggle-title">I LOVE DOGS</p>
          <app-toggle-button [size]="'big'"></app-toggle-button>
        </div>
      </div>
      <a class="welcome-page-link-button" href="https://en.wikipedia.org/wiki/Cats_%26_Dogs">Into the wild</a>
    </div>
  </div>
</div>
