@font-face {
  font-family: "Avenir";
  src: local("Avenir"), url("./assets/fonts/Avenir/Avenir.otf") format("opentype");
}

@font-face {
  font-family: "Dancing Script Bold";
  src: local("Dancing Script Bold"), url("./assets/fonts/DancingScript/DancingScript-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans";
  src: local("Nunito Sans"), url("./assets/fonts/NunitoSans/NunitoSans.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: local("Nunito Sans Bold"), url("./assets/fonts/NunitoSans/NunitoSans-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
}
